body {
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
  background-color: #00466B;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  padding: 3px;
  margin: 0px;
}

.logo {
  font-size: 32px;
  padding: 0px;
  margin-left: 5px;
}

nav h3 {
  padding: auto;
  font-size: 29px;
}

.display-search-button {
  margin-right: 3px;
}

.display-search-button:hover {
  background-color: #A8D8ED;
  color: #00466B;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Here I would some some card stuff.
.news-container {
  
}
*/

/* TODO: I want the content to have a max width. Perhaps max
  4 articles per row. Minimum 1 for mobile compatability. The search bar should pop
  up when the search button is pressed. Pressing the search button again should hide it.

  First thing when getting back is to finish the searchClient class and then work on search view
*/